.character-container {
  .character-filmography {
    display: flex;
  }
  .col-1 {
    display: flex;
    flex: 1;
    flex-direction: column;

    .img-character {
      padding-left: 2rem;
      width: 20rem;
    }
    .fav-on {
      height: 40px;
      width: 40px;
      position: relative;
      top: 50px;
      left: 300px;
    }
    .fav-off {
      height: 40px;
      width: 40px;
      position: relative;
      top: 50px;
      left: 300px;
    }
  }
  .col-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .col-3 {
    flex: 1;
  }
}
