.characters-container {
  //justify-content: center;
  .search-bar-container {
    display: flex;
    //justify-content: center;
    .navigate {
      width: 100%;
      display: flex;
      align-items: center;

      box-shadow: 0 4px 2px -2px #ed171e;
      .previous-nav-hide {
        flex: 1;
        display: flex;
        align-items: center;
        visibility: hidden;
      }
      .previous-nav-show {
        flex: 1;
        display: flex;
        align-items: center;
        visibility: show;
        font-size: larger;
        cursor: pointer;
      }

      .search-bar {
        display: flex;
        flex: 1;
        justify-content: center;

        .search-img {
          display: flex;
          align-items: center;
          width: 15px;
          color: #999999;
          //margin-right: 5px;
        }
        .search-characters {
          width: 15rem;
          line-height: 2rem;
          margin-left: 5px;
          font-size: medium;
          color: #535353;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      .next-nav-hide {
        flex: 1;
        display: flex;
        align-items: center;
        visibility: hidden;
      }
      .next-nav-show {
        flex: 1;
        display: flex;
        align-items: center;
        visibility: show;
        cursor: pointer;
        font-size: larger;
      }
    }
  }

  .carrousel {
    display: flex;
    overflow-x: hidden;
    overflow-x: scroll;
    box-shadow: 0 4px 2px -2px #ed171e;
    .card-container {
      width: 10rem;
      color: white;
      text-decoration: none;

      .img-character {
        // padding-left: 2rem;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
      }
      .img-favoris-show {
        position: relative;
        top: -52px;
        left: -37px;
        width: 50px;
        height: 50px;
      }
      .img-favoris-hide {
        visibility: hidden;
        position: relative;
        top: -52px;
        left: -37px;
        width: 50px;
        height: 50px;
      }
    }
    .card-container:hover {
      background-color: #ed171e;
    }
  }
}
