.characters-container {
  //justify-content: center;
  .search-bar-container {
    display: flex;
    //justify-content: center;
    .navigate {
      width: 100%;
      display: flex;
      align-items: center;
      box-shadow: 0 4px 2px -2px gray;
      .previous-nav {
        flex: 1;
        .arrow-previous-hide {
          visibility: hidden;
        }
        .arrow-previous-show {
          visibility: show;
        }
      }

      .search-bar {
        display: flex;
        flex: 1;
        justify-content: center;

        .search-img {
          display: flex;
          align-items: center;
          width: 15px;
          color: #999999;
          //margin-right: 5px;
        }
        .search-characters {
          width: 15rem;
          line-height: 2rem;
          margin-left: 5px;
          font-size: medium;
          color: #535353;
          border: none;
          outline: none;
          background-color: transparent;
        }
      }
      .next-nav {
        flex: 1;
        .arrow-next-hide {
          visibility: hidden;
        }
        .arrow-next-show {
          visibility: show;
        }
      }
    }
  }

  .carrousel {
    display: flex;
    overflow-x: hidden;
    overflow-x: scroll;
    .card-container {
      width: 10rem;
      color: white;
      text-decoration: none;

      .img-character {
        // padding-left: 2rem;
        width: 10rem;
        height: 10rem;
        object-fit: cover;
      }
    }
    .card-container:hover {
      background-color: #ed171e;
    }
  }
}
