.App {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  .header {
    .App-logo {
      height: 30vmin;

      pointer-events: none;
    }
    padding-top: 2rem;
    background-color: #282c34;
    min-height: 30vh;

    display: flex;
    //flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: calc(20px + 2vmin);
    color: white;
  }
  .header-characters,
  .header-comics {
    color: white;
    text-decoration: none !important;
  }
  .character-container {
    .character-filmography {
      display: flex;
    }
    .col-1 {
      display: flex;
      flex: 1;
      flex-direction: column;
      .img-character {
        padding-left: 2rem;
        width: 20rem;
      }
    }
    .col-2 {
      display: flex;
      flex: 1;
      flex-direction: column;
    }
    .col-3 {
      flex: 1;
    }
  }
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
