@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap");

body {
  margin: 0;
  font-family: "Marvel";
  font-style: normal;
  font-weight: 400;
  font-display: swap;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
